.tsaskSection {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
}
.tsaskSection-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.tsaskSection-content::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #52c41a;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.ongoing::after {
  background-color: #52c41a;
}
.paused::after {
  background-color: #6078ff;
}
.notStarted::after {
  background-color: #e3b016;
}
.historical::after {
  background-color: #d9d9d9;
}

.title {
  font-family: PingFang SC;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0px;
  margin-bottom: 12px;
}
.taskSection-mian {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 32px 20px 20px;
  justify-content: space-between;
  background-color: #fff;
}
.info {
  width: 330px;
  padding-right: 50px;
}
.pad12 {
  padding-left: 12px;
}

.npg {
  display: flex;
  align-items: center;
  margin: 12px 0;
  p {
    margin: 0;
  }
}
.npg p:nth-of-type(1) {
  font-family: PingFang SC;
  font-weight: 600;
  font-style: Semibold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  text-transform: capitalize;
  margin: 0;
}
img {
  width: 16px;
  height: 16px;
  margin: 2px 8px 0 8px;
  display: block;
}
.npg p:nth-of-type(2) {
  font-family: PingFang SC;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: #2b4096;
  margin: 0;
}
.users {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.assistant,
.creator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .label {
    font-family: PingFang SC;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin: 0 8px 0 0;
    color: #0b0b0b73;
  }
}
.meeting-info {
  flex: 1;
  display: flex;
  align-items: center;
}

.actions {
  max-width: 280px;
  padding-left: 12px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* 水平方向靠右 */
  .btn {
    width: 96px;
    height: 32px;
    opacity: 1;
    border-radius: 2px;
    font-family: PingFang SC;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    margin-left: 136px;
  }
  .ongoing {
    background-color: #2b4096;
  }
  .notStarted,
  .paused {
    background-color: #fff;
    border-color: #2b4096;
    color: #2b4096;
  }
  .action-more {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 0 0 16px;
    cursor: pointer;
  }
}

.task-section-table {
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
  padding: 14px 56px 14px 56px;
}
.expand-box {
  cursor: pointer;
  width: 24px;
  height: 16px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #ececec;

  .triangle {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #2d2d2d59; /* → */
  }
  .triangle.open {
    transform: rotate(90deg); /* 向下 */
  }
}
.expand {
  display: block;
}
.collapse {
  display: none;
}

.actions {
  img {
    cursor: pointer;
  }
}
